<div class="columns">
  <div class="column is-four-fifths">
<%= form_with model: @course do |form| %>
    <p><%= form.label :name, "Название курса" %></p>
    <p><%= form.text_area :name, cols: 100 %></p>
    <p><%= form.label :description_text, "Описание курса" %></p>
    <p><%= form.text_area :description_text, rows: 20, cols: 100 %></p>
  </div>
  <div class="column">  
    <p><%= form.label :volume, "Объём в часах" %></p>
    <p><%= form.text_field :volume %></p>
    <p><%= form.label :annotation, "Стоимость" %></p>
    <p><%= form.text_field :annotation %></p>
  </div>
</div>
<p><%= form.submit "Сохранить" %></p>
<% end %>
