<% if @course.errors.any? %>
  <% @course.errors.full_messages.each do |message|%>
  <p class="help is-danger"><%= message %> </p>
  <%end%>
<%end%>
<div class="columns">
  <div class="column is-four-fifths">
    <%= form_with model: @course do |form| %>
    <div class="field">
      <%= form.label :name, "Название курса" %>
      <div class="control">
        <%= form.text_area :name, class: "textarea" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description_text, "Описание курса" %>
      <div class="control">
      <%= form.text_area :description_text, class: "textarea", rows: 15 %>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="field">  
      <%= form.label :volume, "Объём в часах" %>
      <div class="control">
        <%= form.text_field :volume, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :annotation, "Стоимость" %>
        <div class="control">
          <%= form.text_field :annotation, class: "input" %>
        </div>
    </div>    
  </div>
</div>
<div>
  <%= form.submit "Сохранить", class: "button is-link" %>
</div>
<% end %>
<div class="mt-2">
  <% if current_page?(controller: 'courses', action: 'new') %>
    <%= button_to 'Вернуться', courses_path, method: :get, class: "button is-link" %>
  <% elsif current_page?(controller: 'courses', action: 'edit') %>
    <%= button_to 'Вернуться', course_path(@course), method: :get, class: "button is-link" %>
  <% else %>
    <%= button_to 'Вернуться', courses_path, method: :get, class: "button is-link" %>
  <% end %>
</div>
