<%= form_with url: "/courses/:course_id/units/:id", method: "path" do |form| %>
  <p><%= form.label :name, "Название модуля" %></p>
  <p><%= form.text_area :name, rows: 5 %></p>
  
  <p><%= form.label :position, "Position" %></p>
  <p><%= form.text_field :position %></p>
  <p><%= form.label :body, "Содержание модуля" %></p>
  <p><%= form.text_area :body, rows: 5 %></p>
  <p><%= form.submit "Сохранить" %></p>
<% end %>