<div class="ml-5 mr-5">
<h2 class="title is-1">Редактирование модуля</h2>
  <div class="columns">
    <div class="column is-four-fifths">
    <%= form_with url: course_unit_path, method: "put" do |form| %>
      <p><%= form.label :name, "Название модуля" %></p>
      <p><%= form.text_area :name, cols: 100 %></p>
      <p><%= form.label :body, "Содержание модуля" %></p>
      <p><%= form.text_area :body, rows: 20, cols: 100 %></p>
    </div>
    <div class="column">
      <p><%= form.label :position, "Позиция (номер)" %></p>
      <p><%= form.text_field :position %></p>
    </div>
  </div>
    <p><%= form.submit "Сохранить" %></p>
    <% end %>
  <div>
    <%= button_to 'Вернуться', course_path(@course), method: :get %>
  </div>
</div>