<div class="ml-5 mr-5">
  <h2 class="title is-1">Новый модуль</h2>
  <div class="columns">
    <div class="column is-four-fifths">
      <%= form_with url: course_units_path, method: "post" do |form| %>
      <div class="field">
        <%= form.label :name, "Название модуля" %>
        <div class="control">
          <%= form.text_area :name, class: "textarea" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :body, "Содержание модуля" %>
        <div class="control">
          <%= form.text_area :body, class: "textarea", rows: 15 %>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :position, "Позиция (номер)" %>
        <div class="control">
          <%= form.text_field :position, class: "input" %>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= form.submit "Сохранить", class: "button is-link" %>
    <% end %>
  </div>  
  <div class="mt-2">
  <%= button_to 'Вернуться', course_path(@course), method: :get, class: "button is-link" %>
  </div>
</div>