<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CourseBuilderOnRails</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
  <body>
    <nav>
      <div class="navbar-brand">
        <%= image_tag("logo_logo.jpg", :alt => "Logo") %>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>
    <div class="columns">
      <div class="column is-1">
      <br>
      <br>
      <aside class="menu">
        <ul class="menu-list">
          <li><a href= "<%= root_path(@courses)%>" >Курсы</a></li>
          <li><a>Модули</a></li>
          <li><a>Настройки</a></li>
        </ul>  
      </aside>
      </div>
      <div class="column">
        <main>
          <%= yield %>
        </main>
      </div>
      <div class="column is-1"></div>
    </div>
  </body>
</html>