<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CourseBuilderOnRails</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
  <body>
    <div>
    <div class="content has-background-grey-light">
      <nav>
        <div class="navbar-brand">
          <%= image_tag("logo_logo.jpg", alt: "Logo") %>
    
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          </a>
        </div>
      </nav>
    </div>
    <div class="columns">
      <div class="column is-1">
        <section class="hero is-fullheight">
        <aside class="menu mt-5">
          <ul class="menu-list">
            <li><a href= "<%= root_path(@courses)%>" >Курсы</a></li>
            <li><a>Модули</a></li>
            <li><a>Настройки</a></li>
          </ul>  
        </aside>
        </section>
      </div>
      <div class="column is-10">
        <% flash.each do |k, v| %>
          <%= tag.div v, class: "notification is-#{k}" %>  
        <% end %>  
        <section class="hero is-fullheight">
          <%= yield %>
        </section>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
        <strong>Course Builder on Ruby on Rails with Bulma css framework.</strong>
        <a href="https://github.com/dmitrii-silver/course_builder_ror">The source code is at the link</a>.
        </p>
      </div>
    </footer>
  </body>
</html>